@charset "UTF-8";

.container {
	width: 275px;
	height: 500px;
	background-color: lightblue;
	border: 10px outset grey;
}

.receipt {
	width: 500px;
	height: 250px;
	background-color: pink;
	border: 10px outset red;
	margin-top: 20px;
	padding-left: 10px;
}

label{
	vertical-align: top;
	display: inline-block;
	clear: left;
	text-align: right;
	float: left;
	width: 110px;
}

input{  
	vertical-align: top;
	display: inline-block;
	float: left;
	margin: auto;
	margin-right: 5px;
	margin-left: 5px;
}

select {
	margin-left: 5px;
}

.center {
	display: flex;
	justify-content: center;
}

.buttonBorder {
	border: 3px solid dodgerblue;
	
}

.size {
	width: 250px;
	height: 125px;
	border: solid;
	border-color: grey;
	margin: auto;
}

